config global
   # dual stream subregion configurations
   transformation_file =                     $ENV{PIPE_ARG_TRANSFORMATION_FILE}
   :trigger_threshold                        $ENV{PIPE_ARG_TRIGGER_THRESHOLD}
   :seal_max_subregion_count                 $ENV{PIPE_ARG_SEAL_MAX_SUBREGION_COUNT}
   :polar_bear_max_subregion_count           $ENV{PIPE_ARG_PB_MAX_SUBREGION_COUNT}

   # general detector configurations
   :detection_threshold_seal                 $ENV{PIPE_ARG_DET_THRESH_SEAL}
   :detection_threshold_polar_bear           $ENV{PIPE_ARG_DET_THRESH_PB}
   :detection_threshold_hotspot              $ENV{PIPE_ARG_DET_THRESH_HS}

   # output metadata information
   :version_identifier                       VIAME-JoBBS-Models-v2021.02.23
   :eo_seal_model_identifier                 eo_seals_yolo_tiny_3l_512_1to1bg_nounk.cfg
   :eo_polar_bear_model_identifier           eo_pb_yolo_tiny_3l.cfg
   :ir_hotspot_model_identifier              ir_yolo_tiny_1L64x80.cfg
