[submodule "lib/python3.6/site-packages/python-prompt-toolkit"]
	path = lib/python3.6/site-packages/python-prompt-toolkit
	url = https://github.com/prompt-toolkit/python-prompt-toolkit.git
[submodule "lib/python3.6/site-packages/python-diskcache"]
	path = lib/python3.6/site-packages/python-diskcache
	url = https://github.com/grantjenks/python-diskcache
